body {
  text-align: center;
  background-color: #F3F8FF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #596FB7;
}

#footerer{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #596FB7;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #E36414;
}

.green {
  background-color: #65B741;
}

.blue {
  background-color: #4942E4;
}

.yellow {
  background-color: #FFF78A;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
